.container{
    position: absolute;
    top: 0;
    width: 100%;
    animation: container ;
    animation-duration: 4s;
    animation-delay: 0s;
    
  
}

@keyframes container
{ 
     0% {
    transform: translateX(-9999px);
    }
    100% {
        transform: translateX(0);
    }

}