.container{
    position: absolute;
    top: 0;
    width: 100%;
    animation: container 0s 3s both;
   
}
@keyframes container
{ 
     0% {
    transform: translateX(-9999px);
    }
    100% {
        transform: translateX(0);
    }

}

