.container{
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  animation-name: testerpage;
  animation-duration: 3s;
  animation-delay: 0s;
}

@keyframes testerpage
{
  from {visibility: hidden;}
 
  to {visibility: visible;}
}