footer
{
    background-color: $colour_footer;
    color: $colour-white;
    padding: 20px;
}

.footer_link
{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    @include md{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }

    a {
        color: $colour-white;  
    }
   
}