footer
{
    background-color: $colour_footer;
    color: $colour-white;
    padding: 20px;
}

.footer_link
{
    display: flex;
    flex-direction: column;
    padding-top: 10px;

    a {
        color: $colour-white;  
    }
   
}