.header{
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 150px;
  }

}



.fa-arrow-left
{

 position: relative;
 right: 3rem;
 font-size: 20px;
 
}