.header{
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 150px;
  }

}



.fa-arrow-left
{

 position: absolute;
 left: 1rem;
 top: 1rem;
 font-size: 20px;

}