.entete
{
    width: 100%;
    height: 150px;
    position: relative;
    &_titre
    {
        background-color:$background-clear;
        width: 100%;
        padding: 20px 0;
        position: absolute;
        bottom: -2rem;
        display: flex;
        border-radius: 15px 15px 0 0;
        .btn_like {
            top: 1rem;
            
        }
       
    }
    img{
        width: 100%;
        height: 150px;
        object-fit: cover;
        object-position: center;
        @include xl{
            height: 300px;
        }
    }
    @include xl {
        height: 300px;
       
    }
}
.enseigne
{
    max-width: 1400px;
    margin: auto;
    width: 100%;
}

.card {
    background-color: $background-clear;
    width: 100%;
    margin:  0;
    padding: 30px 0;
   
}

.group {
    max-width: 1400px;
    margin: auto;
    
    @include xl {
        display: flex;
        justify-content: space-between;
    }
    @include md {
      display: flex;
      flex-wrap: wrap;
       justify-content: space-between;
    }
  
}
.entree, .plat, .dessert  {
    padding: 10px;
 
}

.titre_group {
    position: relative;
    padding: 5px;
    h2 {
        font-family: 'roboto';
        font-weight: normal;
        font-size: medium;
        
    }
}
.titre_group ::before 
{
    content: "";
    position: absolute;
    background-color: $colour-tertiary;
    width: 40px;
    height: 2px;
    bottom: 0;
}
.menu_box 
{
    background-color: $colour-white;
    margin: 10px 0;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    @include shadow-off;
    @include xl {
        width: 18rem;
    }
}

.nom {
    width: 100%;
    padding: 10px;
    position: relative;
    white-space: nowrap;
    &_titre{
        font-weight: bold;
    }
   &_description{
       font-size: small;
   }
}

.prix{
    position: absolute;
    right: -1.5rem;
    background-color: $colour-white;
    padding-right: 10px;
    bottom: 0.5rem;
    font-weight: bold;
    span {
        padding-right: 10px;
        display: none;
    } 
}

.check
{
    background-color: $colour-tertiary;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 0 10px 10px 0;
    transform: translateX(100%);
    @include shadow-off;
}

.commander
{
    background-color: $background-clear;
    padding: 40px;
}


