
.page
{
    max-width: 1300px;
    img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
}

.card
{
    position: absolute;
    top: 10rem;
    background-color: $background-clear;
    width: 100%;
    border-radius: 15px 15px 0 0;
    padding-bottom: 10px;
    
}
.page_titre
{
    display: flex;
    flex-direction: row;
}
.btn_like_p{
    top: 0.5rem;
    right: 1rem;
    @include like
}

.btn_like_p:focus {
    z-index: 1;
}
.btn_like_pink_p{
    
    right: 1rem;
    top: 0.5rem;
    @include like_pink

}
.entree{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.box
{
    background-color: $colour-white;
    margin: 10px 0;
    border-radius: 15px;
    padding: 10px;
    position: relative;
    &_titre {
        font-weight: bold;
    }
  p {
      font-weight: small;
  }
}

.prix
{
    position: absolute;
    right: 1rem;
    bottom: 0.5rem;
}