.entete
{
    width: 100%;
    height: 150px;
    position: relative;
    &_titre
    {
        background-color:$background-clear;
        width: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
        border-radius: 15px 15px 0 0;
        .btn_like {
            top: 0.2rem;
            
        }
       
    }
    img{
        width: 100%;
        height: 150px;
        object-fit: cover;
        object-position: center;
        @include xl{
            height: 300px;
        }
    }
    @include xl {
        height: 300px;
       
    }
}

.enseigne
{
    max-width: 1400px;
    margin: auto;
    width: 100%;
}
.card {
    background-color: $background-clear;
    width: 100%;
    margin: 0;
   
}

.group {
    max-width: 1400px;
    margin: auto;
    
    @include xl {
        display: flex;
        justify-content: space-between;
    }
    @include md {
       display: flex;
       justify-content: space-between;
    }
  
}
.entree, .plat, .dessert  {
    padding: 10px;
 
}

.titre_group {
    position: relative;
    padding: 5px;
    h2 {
        font-family: 'roboto';
        font-weight: normal;
        font-size: medium;
        
    }
}
.titre_group ::before 
{
    content: "";
    position: absolute;
    background-color: $colour-tertiary;
    width: 40px;
    height: 2px;
    bottom: 0;
}
.menu_box 
{
    background-color: $colour-white;
    margin: 10px 0;
    display: flex;
    border-radius: 10px;
    @include shadow-off;
    @include xl {
        width: 18rem;
    }
   
}

.nom {
    width: 100%;
    padding: 10px;
    position: relative;
    white-space: nowrap;
    &_titre{
        font-weight: bold;
        
    }
   &_description{
       font-size: small;
   }
}

.prix{
    position: absolute;
    right: -1.5rem;
    background-color: $colour-white;
    padding-right: 10px;
    bottom: 0.5rem;
    font-weight: bold;
    span {
        margin-right: 5px;
        display: none;
    } 
}

.menu_box:hover .prix
{
    right: 1.2rem;
    transition: right 1s; transform: 1s;
    span {
        display: unset;
        @include xl {
            display: none;
        }
    }
}


.check
{
    background-color: $colour-tertiary;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 0 5px 5px 0;
    transform: scaleX(0);
    @include shadow-off;
}

.menu_box:hover .check
{
    transform-origin: top right;
    transform: scaleX(2);
    transition: transform 1000ms;
    
    .fa-check-circle {
        color: $colour-white;
        font-size: 18px;
        animation-name: spin;
        animation-duration: 1s;
        /* transform: rotate(3deg); */
        /* transform: rotate(0.3rad);/ */
        /* transform: rotate(3grad); */ 
        /* transform: rotate(.03turn);  */
    }
  
    @keyframes spin {
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    }
}


.commander
{
    background-color: $background-clear;
    padding: 30px 0;
}

.entree {
    opacity:0;
    -moz-animation: anim 3s linear forwards 1s;
    -webkit-animation: anim 3s linear forwards 1s;
    -o-animation: anim 3s linear forwards 1s;
    -ms-animation: anim 3s linear forwards 1s;
    animation: anim 3s linear forwards 1s;
}
.plat{
    opacity:0;
    -moz-animation: anim 3s linear forwards 2s;
    -webkit-animation: anim 3s linear forwards 2s;
    -o-animation: anim 3s linear forwards 2s;
    -ms-animation: anim 3s linear forwards 2s;
    animation: anim 3s linear forwards 2s;
}

.dessert{
    opacity:0;
    -moz-animation: anim 3s linear forwards 3s;
    -webkit-animation: anim 3s linear forwards 3s;
    -o-animation: anim 3s linear forwards 2s;
    -ms-animation: anim 3s linear forwards 3s;
    animation: anim 3s linear forwards 3s;
}
@-moz-keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}
@-webkit-keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}
@-o-keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}
@-ms-keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}
@keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}