@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  margin: 0;
}

html {
  font-size: 20px;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
}

h1 {
  font-family: "Shrikhand";
  font-size: 1.2rem;
  line-height: 1;
  padding: 10px;
}

h2 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1rem;
}

h3 {
  font-family: "Shrikhand", sans-serif;
  font-size: 0.8rem;
  line-height: 1rem;
}

a {
  text-decoration: none;
  color: black;
  line-height: 1.5;
  font-size: 0.8rem;
  cursor: pointer;
}

p {
  font-size: 0.7rem;
  line-height: 1rem;
}

button {
  cursor: pointer;
}

.btn_pink {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 10px 5px;
  width: 9rem;
  margin: auto;
  border-radius: 20px;
  text-align: center;
  box-shadow: 5px 5px 5px #DCDCDC;
}
.btn_pink a {
  color: #fff;
}

.btn_like {
  position: absolute;
  right: 1rem;
  font-size: 1.3rem;
  bottom: 1.2rem;
  border: none;
  background-color: inherit;
}

.btn_like .far {
  position: absolute;
}

.btn_like:focus .fas {
  opacity: 1;
}
.btn_like:focus .far {
  opacity: 0;
}

.btn_like .fas {
  opacity: 0;
  transition: opacity 2s;
  background: -webkit-linear-gradient(top, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.header {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header img {
  width: 150px;
}

.fa-arrow-left {
  position: relative;
  right: 3rem;
  font-size: 20px;
}

.container {
  position: absolute;
  top: 0;
  width: 100%;
  animation: container 0s 3s both;
}

@keyframes container {
  0% {
    transform: translateX(-9999px);
  }
  100% {
    transform: translateX(0);
  }
}
.container_footer {
  color: #fff;
  padding: 20px;
  max-width: 1400PX;
  margin: auto;
}

footer {
  background-color: #303030;
  color: #fff;
}

.footer_link {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
@media (min-width: 769px) {
  .footer_link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }
}
.footer_link a {
  color: #fff;
}

.container_loader {
  position: relative;
  background-color: #fff;
  z-index: 2;
  height: 100vh;
  width: 100%;
  visibility: hidden;
  -webkit-transition: visibility 3s;
  transition: visibility 3s;
}

.loader {
  display: flex;
  justify-content: space-between;
  width: 15rem;
  height: 100vh;
  align-items: center;
  margin: auto;
}
.loader .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px #99E2D0;
  background: linear-gradient(80deg, #9356DC 0%, #FF79DA 35%, #99E2D0 100%);
  transform: translateX(0);
  z-index: 2;
}
.loader .circle:nth-child(1) {
  animation: move-1 2s infinite;
}
.loader .circle:nth-child(3) {
  animation: move-3 2s infinite;
}

@keyframes move-1 {
  0% {
    z-index: 3;
    transform: translateX(0);
  }
  25% {
    z-index: 3;
    transform: translateX(80px);
  }
  50% {
    z-index: 3;
    transform: translateX(0);
  }
  50.1% {
    z-index: 1;
    transform: translateX(0);
  }
  75% {
    z-index: 1;
    transform: translateX(80px);
  }
  100% {
    z-index: 1;
    transform: translateX(0);
  }
}
@keyframes move-3 {
  0% {
    z-index: 1;
    transform: translateX(0);
  }
  25% {
    z-index: 1;
    transform: translateX(-80px);
  }
  50% {
    z-index: 1;
    transform: translateX(0);
  }
  50.1% {
    z-index: 3;
    transform: translateX(0);
  }
  75% {
    z-index: 3;
    transform: translateX(-80px);
  }
  100% {
    z-index: 3;
    transform: translateX(0);
  }
}
.entete {
  width: 100%;
  height: 150px;
  position: relative;
}
.entete_titre {
  background-color: #F2F2F2;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  border-radius: 15px 15px 0 0;
}
.entete_titre .btn_like {
  top: 0.2rem;
}
.entete img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
}
@media (min-width: 1025px) {
  .entete img {
    height: 300px;
  }
}
@media (min-width: 1025px) {
  .entete {
    height: 300px;
  }
}

.enseigne {
  max-width: 1400px;
  margin: auto;
  width: 100%;
}

.card {
  background-color: #F2F2F2;
  width: 100%;
  margin: 0;
}

.group {
  max-width: 1400px;
  margin: auto;
}
@media (min-width: 1025px) {
  .group {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 769px) {
  .group {
    display: flex;
    justify-content: space-between;
  }
}

.entree, .plat, .dessert {
  padding: 10px;
}

.titre_group {
  position: relative;
  padding: 5px;
}
.titre_group h2 {
  font-family: "roboto";
  font-weight: normal;
  font-size: medium;
}

.titre_group ::before {
  content: "";
  position: absolute;
  background-color: #99E2D0;
  width: 40px;
  height: 2px;
  bottom: 0;
}

.menu_box {
  background-color: #fff;
  margin: 10px 0;
  display: flex;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #DCDCDC;
}
@media (min-width: 1025px) {
  .menu_box {
    width: 18rem;
  }
}

.nom {
  width: 100%;
  padding: 10px;
  position: relative;
  white-space: nowrap;
}
.nom_titre {
  font-weight: bold;
}
.nom_description {
  font-size: small;
}

.prix {
  position: absolute;
  right: -1.5rem;
  background-color: #fff;
  padding-right: 10px;
  bottom: 0.5rem;
  font-weight: bold;
}
.prix span {
  padding-right: 10px;
  display: none;
}

.menu_box:hover .prix {
  right: 1.2rem;
  transition: right 1s;
  transform: 1s;
}
.menu_box:hover .prix span {
  display: unset;
}
@media (min-width: 1025px) {
  .menu_box:hover .prix span {
    display: none;
  }
}

.check {
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 0 10px 10px 0;
  transform: scaleX(0);
  box-shadow: 5px 5px 5px #DCDCDC;
}

.menu_box:hover .check {
  transform-origin: top right;
  transform: scaleX(2);
  transition: transform 1000ms;
}
.menu_box:hover .check .fa-check-circle {
  color: #fff;
  font-size: 18px;
  animation-name: spin;
  animation-duration: 1s;
  /* transform: rotate(3deg); */
  /* transform: rotate(0.3rad);/ */
  /* transform: rotate(3grad); */
  /* transform: rotate(.03turn);  */
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.commander {
  background-color: #F2F2F2;
  padding: 30px 0;
}

.entree {
  opacity: 0;
  -moz-animation: anim 3s linear forwards 1s;
  -webkit-animation: anim 3s linear forwards 1s;
  -o-animation: anim 3s linear forwards 1s;
  -ms-animation: anim 3s linear forwards 1s;
  animation: anim 3s linear forwards 1s;
}

.plat {
  opacity: 0;
  -moz-animation: anim 3s linear forwards 2s;
  -webkit-animation: anim 3s linear forwards 2s;
  -o-animation: anim 3s linear forwards 2s;
  -ms-animation: anim 3s linear forwards 2s;
  animation: anim 3s linear forwards 2s;
}

.dessert {
  opacity: 0;
  -moz-animation: anim 3s linear forwards 3s;
  -webkit-animation: anim 3s linear forwards 3s;
  -o-animation: anim 3s linear forwards 2s;
  -ms-animation: anim 3s linear forwards 3s;
  animation: anim 3s linear forwards 3s;
}

@-moz-keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.lieu {
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: #DCDCDC;
  align-items: center;
}
.lieu input {
  border: none;
  background-color: inherit;
  font-size: large;
  padding-left: 10px;
  width: 150px;
}

.presentation {
  background-color: #F2F2F2;
  padding: 20px;
}
.presentation h1 {
  text-align: center;
  font-family: "roboto";
}
.presentation p {
  text-align: center;
  padding: 15px 0;
}

.fct {
  padding: 20px;
  max-width: 1400px;
  margin: auto;
}
.fct h2 {
  font-family: "roboto";
}

.etapes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 769px) {
  .etapes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .etapes_box {
    width: 25%;
  }
}

.etapes_box {
  background-color: #F2F2F2;
  margin: 20px 0;
  display: flex;
  align-items: center;
  height: 60px;
  font-size: medium;
  font-weight: bold;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #DCDCDC;
}
.etapes_box i {
  margin: 0 10px;
}

.box_num {
  color: #fff;
  width: 20px;
  height: 20px;
  padding: 5px;
  background-color: #9356DC;
  border-radius: 50%;
  align-items: center;
  text-align: center;
  margin-left: -10px;
}

#resto {
  background-color: #F2F2F2;
  padding: 20px;
}

.resto_container {
  max-width: 1400px;
  margin: auto;
}
.resto_container h2 {
  font-family: "roboto";
}

.box_resto {
  margin: 30px 0;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  box-shadow: 5px 5px 5px #DCDCDC;
}
.box_resto img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

@media (min-width: 769px) {
  .resto_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 300px);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }
}

.new {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: #99E2D0;
  padding: 5px;
  color: #12933e;
}

.details {
  line-height: 1.5;
  padding: 10px;
  position: relative;
}
.details h2 {
  font-size: large;
  font-weight: bold;
  font-family: "roboto";
}

/*# sourceMappingURL=style.css.map */
