@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  margin: 0;
}

html {
  font-size: 20px;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
}

h1 {
  font-family: "Shrikhand";
  font-size: 1.2rem;
  line-height: 1;
  padding: 10px;
}

h2 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1rem;
}

h3 {
  font-family: "Shrikhand", sans-serif;
  font-size: 0.8rem;
  line-height: 1rem;
}

a {
  text-decoration: none;
  color: black;
  line-height: 1.5;
  font-size: 0.8rem;
  cursor: pointer;
}

p {
  font-size: 0.7rem;
  line-height: 1rem;
}

button {
  cursor: pointer;
}

.btn_pink {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 10px 5px;
  width: 9rem;
  margin: auto;
  border-radius: 20px;
  text-align: center;
  box-shadow: 5px 5px 5px #DCDCDC;
}
.btn_pink a {
  color: #fff;
}

.btn_like {
  position: absolute;
  right: 1rem;
  font-size: 1.3rem;
  bottom: 1.2rem;
  border: none;
  background-color: inherit;
}

.btn_like .far {
  position: absolute;
}

.btn_like:focus .fas {
  opacity: 1;
}
.btn_like:focus .far {
  opacity: 0;
}

.btn_like .fas {
  opacity: 0;
  transition: opacity 2s;
  background: -webkit-linear-gradient(top, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.header {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header img {
  width: 150px;
}

.fa-arrow-left {
  position: relative;
  right: 3rem;
  font-size: 20px;
}

footer {
  background-color: #303030;
  color: #fff;
  padding: 20px;
}

.footer_link {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
@media (min-width: 769px) {
  .footer_link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }
}
.footer_link a {
  color: #fff;
}

.loader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.loader .circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(80deg, #9356DC 0%, #FF79DA 35%, #99E2D0 100%);
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.3);
  transform: translateX(0);
  z-index: 2;
}
.loader .circle:nth-child(1) {
  animation: move-1 2s infinite;
}
.loader .circle:nth-child(3) {
  animation: move-3 2s infinite;
}

@keyframes move-1 {
  0% {
    z-index: 3;
    transform: translateX(0);
  }
  25% {
    z-index: 3;
    transform: translateX(80px);
  }
  50% {
    z-index: 3;
    transform: translateX(0);
  }
  50.1% {
    z-index: 1;
    transform: translateX(0);
  }
  75% {
    z-index: 1;
    transform: translateX(80px);
  }
  100% {
    z-index: 1;
    transform: translateX(0);
  }
}
@keyframes move-3 {
  0% {
    z-index: 1;
    transform: translateX(0);
  }
  25% {
    z-index: 1;
    transform: translateX(-80px);
  }
  50% {
    z-index: 1;
    transform: translateX(0);
  }
  50.1% {
    z-index: 3;
    transform: translateX(0);
  }
  75% {
    z-index: 3;
    transform: translateX(-80px);
  }
  100% {
    z-index: 3;
    transform: translateX(0);
  }
}
.entete {
  width: 100%;
  height: 150px;
  position: relative;
}
.entete_titre {
  background-color: #F2F2F2;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  border-radius: 15px 15px 0 0;
}
.entete img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
}
@media (min-width: 1025px) {
  .entete img {
    height: 300px;
  }
}
@media (min-width: 1025px) {
  .entete {
    height: 300px;
  }
}

.btn_like_p {
  top: 0.5rem;
  right: 1rem;
}

.btn_like_p:focus {
  z-index: 1;
}

.btn_like_pink_p {
  right: 1rem;
  top: 0.5rem;
}

.card {
  background-color: #F2F2F2;
  padding: 10px;
  justify-content: space-around;
}
@media (min-width: 769px) {
  .card {
    display: flex;
  }
}

.menu_box {
  background-color: #fff;
  margin: 10px 0;
  display: flex;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #DCDCDC;
}
@media (min-width: 769px) {
  .menu_box {
    width: 15rem;
    height: 4rem;
  }
}
@media (min-width: 1025px) {
  .menu_box {
    width: 20rem;
  }
}

.nom {
  position: relative;
  width: 100%;
  padding: 10px;
  border-radius: 0 10px 10px 0;
}
.nom_titre {
  font-weight: bold;
}

.nom:hover {
  transform-origin: top left;
  transform: scaleX(0.5);
  transition: transform 1000ms;
}

.prix {
  position: absolute;
  right: 0;
  bottom: 0.3rem;
  font-weight: bold;
}

.check {
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 0 10px 10px 0;
  transform: scaleX(0);
  box-shadow: 5px 5px 5px #DCDCDC;
}

.menu_box:hover .check {
  transform-origin: top right;
  transform: scaleX(2);
  transition: transform 1000ms;
}

.commander {
  background-color: #F2F2F2;
  padding: 30px 0;
}

.lieu {
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: #DCDCDC;
  align-items: center;
}
.lieu input {
  border: none;
  background-color: inherit;
  font-size: large;
  padding-left: 10px;
  width: 150px;
}

.presentation {
  background-color: #F2F2F2;
  padding: 20px;
}
.presentation h1 {
  text-align: center;
  font-family: "roboto";
}
.presentation p {
  text-align: center;
  padding: 15px 0;
}

.fct {
  padding: 20px;
  max-width: 1400px;
  margin: auto;
}
.fct h2 {
  font-family: "roboto";
}

.etapes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 769px) {
  .etapes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .etapes_box {
    width: 25%;
  }
}

.etapes_box {
  background-color: #F2F2F2;
  margin: 20px 0;
  display: flex;
  align-items: center;
  height: 60px;
  font-size: medium;
  font-weight: bold;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #DCDCDC;
}
.etapes_box i {
  margin: 0 10px;
}

.box_num {
  color: #fff;
  width: 20px;
  height: 20px;
  padding: 5px;
  background-color: #9356DC;
  border-radius: 50%;
  align-items: center;
  text-align: center;
  margin-left: -10px;
}

#resto {
  background-color: #F2F2F2;
  padding: 20px;
}

.resto_container {
  max-width: 1400px;
  margin: auto;
}
.resto_container h2 {
  font-family: "roboto";
}

.box_resto {
  margin: 30px 0;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  box-shadow: 5px 5px 5px #DCDCDC;
}
.box_resto img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

@media (min-width: 769px) {
  .resto_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 300px);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }
}

.new {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: #99E2D0;
  padding: 5px;
  color: #12933e;
}

.details {
  line-height: 1.5;
  padding: 10px;
  position: relative;
}
.details h2 {
  font-size: large;
  font-weight: bold;
  font-family: "roboto";
}

/*# sourceMappingURL=style.css.map */
