@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  margin: 0;
}

html {
  font-size: 20px;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
}

h1 {
  font-family: "Shrikhand";
  font-size: 1.2rem;
  line-height: 1;
}

h2 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1rem;
}

h3 {
  font-family: "Shrikhand", sans-serif;
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  color: black;
  line-height: 1.5;
  font-size: 0.8rem;
  cursor: pointer;
}

p {
  font-size: 0.7rem;
}

.btn_pink {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 10px 5px;
  width: 9rem;
  margin: auto;
  border-radius: 20px;
  text-align: center;
  box-shadow: 5px 5px 5px #DCDCDC;
}
.btn_pink a {
  color: #fff;
}

.btn_like {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 25px;
  border: none;
  background-color: white;
  z-index: 3;
}

.btn_like:focus {
  z-index: 1;
}

.btn_like_pink {
  font-size: 25px;
  border: none;
  background-color: white;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 2;
}
.btn_like_pink .fa-heart {
  font-size: 25px;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header img {
  width: 150px;
}

.fa-arrow-left {
  position: relative;
  right: 3rem;
  font-size: 20px;
}

.container {
  max-width: 1300px;
  margin: auto;
}

footer {
  background-color: #303030;
  color: #fff;
  padding: 20px;
}

.footer_link {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
@media (min-width: 768px) {
  .footer_link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }
}
.footer_link a {
  color: #fff;
}

.lieu {
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: #DCDCDC;
  align-items: center;
}
.lieu input {
  border: none;
  background-color: inherit;
  font-size: large;
  padding-left: 10px;
  width: 150px;
}

.presentation {
  background-color: #F2F2F2;
  padding: 20px;
}
.presentation h1 {
  text-align: center;
}
.presentation p {
  text-align: center;
  padding: 15px 0;
}

.fct {
  padding: 20px;
}

.etapes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.etapes_box {
  background-color: #F2F2F2;
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  height: 60px;
  align-items: center;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #DCDCDC;
}
.etapes_box i {
  margin-right: 10px;
}
@media (min-width: 768px) {
  .etapes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .etapes_box {
    width: 25%;
  }
}

.box_num {
  width: 10px;
  height: 10px;
  background-color: #9356DC;
  padding: 5px;
  border-radius: 50%;
  margin-left: -5px;
  margin-right: 10px;
  line-height: 1;
  font-size: small;
  color: #fff;
}

#resto {
  background-color: #F2F2F2;
  padding: 20px;
}

.resto_list {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .resto_list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 250px);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }
}
@media (min-width: 1024px) {
  .resto_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 250px);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }
}

.box_resto {
  margin: 10px 0;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  box-shadow: 5px 5px 5px #DCDCDC;
}
.box_resto img {
  width: 100%;
  height: 150PX;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.new {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: #99E2D0;
  padding: 5px;
  color: #12933e;
}

.details {
  line-height: 1.5;
  padding: 10px;
  position: relative;
}
.details h2 {
  font-size: large;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
