.btn_pink{
    background: linear-gradient(to bottom right,$colour-secondary, $colour-primary);
    padding:  10px 5px;
    width: 9rem;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    @include shadow-off;
    a 
    {
        color: $colour-white;
      
    }    
}

.btn_like
{
   
    bottom: 1rem;
    right: 1rem;
    background-color: inherit;
    @include like
}

.btn_like:focus {
    z-index: 1;
}

.btn_like_pink
{
    right: 1rem;
    bottom: 1rem;
    z-index: 2;
    background-color: inherit;
    @include like_pink
}

