.btn_pink{
    background: linear-gradient(to bottom right,$colour-secondary, $colour-primary);
    padding:  10px 5px;
    width: 9rem;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    @include shadow-off;
   
    a 
    {
        color: $colour-white;
    }   
}

.btn_like
{
    position: absolute;
    right: 1rem;
    font-size: 1.3rem;
    bottom: 1.2rem;
    border:none;
    background-color:inherit;

}

.btn_like .far
{
    position: absolute;

}

.btn_like:focus {
    .fas{
   
    opacity:1;
 
    }
    .far {
        opacity: 0;
    }
    
}
 .btn_like .fas
{
  opacity: 0;
  transition: opacity 2s;
  background:-webkit-linear-gradient(top, $colour-primary, $colour-secondary);
  background-clip:text;
  -webkit-background-clip:text;
  color:transparent;

}