* {
    margin: 0;
   
}

.container
{
    max-width: 1400px;
    margin:auto;
}

@media screen and (min-width: 500px){
    
    .container
    {
        width: 100%;
    }
   .etapes
   {
       display: flex;
       flex-direction: row;
       justify-content: space-around;

       &_box{
           min-width: 30%;
       }
   }

}