@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,900&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

html {
    font-size: 20px;
}
body {
    font-family: "Roboto", sans-serif;
    line-height: 1;
}
  
h1 {
    font-family: "Shrikhand";
    font-size: 1rem;
   
   
   
  }
  
h2 {
    font-family: "Shrikhand",sans-serif ;
    font-size: 0.5rem;
    font-weight: 50;
    
}

a 
{
    text-decoration: none;
    color: $colour-link;
    line-height: 1.5;
}
