.lieu
{
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: $background-dark;
    align-items: center;
    input 
    {
        border: none;
        background-color: inherit;
        font-size: large;
        padding-left: 10px;
        width:150px;
    }
}

.presentation
{
    background-color: $background-clear;
    padding: 20px;
    

    h1 {
       
        text-align: center;
        font-family: "roboto";
    }
    p
    {
        text-align: center;
        padding: 15px 0;
    }
}

.fct
{
    padding: 20px;
    max-width: 1400px;
    margin: auto;
    h2 {
        font-family: "roboto";
    }
   
}

.etapes
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include md {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &_box {
            width: 25%;
        }
    }
}

  
.etapes_box
{
    background-color: $background-clear;
    margin:  20px 0;
    display: flex;
    align-items: center;
    height: 60px;
    font-size: medium;
    font-weight: bold;
    border-radius: 15px;
    @include shadow-off;
    i {
        margin: 0 10px;
    }  
   
}

.etapes_box:hover {
    background-color: lighten($colour-primary, 35% );
    
}
.etapes_box:hover i {
    color: $colour-primary;
}
.box_num
{
    color: $colour-white;
    width: 20px;
    height: 20px;
    padding: 5px;
    background-color: $colour-primary;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    margin-left: -10px;
}

