
.lieu
{
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: $background-dark;
    align-items: center;
    input 
    {
        border: none;
        background-color: inherit;
        font-size: large;
        padding-left: 10px;
        width:150px;
    }
}

.presentation
{
    background-color: $background-clear;
    padding: 30px;
    

    h1 {
       
        text-align: center;
    }
    h2 
    {
        text-align: center;
        padding: 15px;
    }
    
}

.fct
{
    padding: 20px;
}

.etapes
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &_box{
        background-color: $background-clear;
        margin:  20px 0;
        display: flex;
        flex-direction: row;
        height: 60px;
        align-items: center;
        border-radius: 15px;
        @include shadow-off;

        i{
            margin-right: 10px;
        }
    }

    @include md {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        &_box {
            width: 25%;
        }
    }
}



  
  

.box_num {
    width: 10px;
    height:10px;
    background-color: $colour-primary;
    padding: 5px;
    border-radius: 50%;
    margin-left: -5px;
    margin-right: 10px;
    line-height: 1;
    font-size: small;
    color: $colour-white;
  
}