@mixin shadow-off {
    box-shadow: 5px 5px 5px $background-dark;
}

@mixin md {
    @media (min-width: $screen-medium) {
        @content;
    }
}


@mixin xl {
    @media (min-width: #{$screen-large}) {
        @content;
    }
}

@mixin like {
    position: absolute;
    font-size: 25px;
    border:none;
    
    z-index: 3;
}

@mixin like_pink {
    font-size: 25px;
    border:none;
    background-color:inherit;
    position: absolute;
    z-index: 2;
    .fa-heart
    {
        font-size: 25px;
        background: -webkit-linear-gradient($colour-primary, $colour-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}