@mixin shadow-off {
    box-shadow: 5px 5px 5px $background-dark;
}
@mixin done {
    box-shadow: 8px 8px 8px $background-dark;
    transform: translateY(2px);
}
@mixin md {
    @media (min-width: $screen-medium) {
        @content;
    }
}


@mixin xl {
    @media (min-width: $screen-large) {
        @content;
    }
}



