$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-white: #fff; 
$background-clear:#F2F2F2;
$background-dark:#DCDCDC;
$colour_footer: #303030;
$colour-link: black;
$colour-new:#12933e;


$layout-margin:0;




//Media-queries
$small-screen: "screen and (max-width: 768px)";
$medium-screen: "screen and (max-width: 1024px)";
$large-screen: "screen and (min-width: 1025px)";
